{{- $class := "consoleBlock font-monospace" -}}
{{- with (.Get "class" | default (.Get 0)) -}}{{- $class = print $class " " . -}}{{- end -}}
{{- $markdown := .Inner -}}
{{- $markdown = replace $markdown "'" "&apos;" -}}
{{- $markdown = replace $markdown "\"" "&quot;" -}}
{{- $convertedMarkdown := $markdown | markdownify -}}
<div class="{{ $class }}">
  {{- if not ( strings.Contains $convertedMarkdown "<p>" ) -}}
    <p>{{ $convertedMarkdown }}</p>
  {{- else -}}
    {{ $convertedMarkdown }}
  {{- end -}}
</div>