{{- /*
    Usage: `reference args`

    args can be one of the following:
      title: Used in the `cite` tag
      linkHref: The URL to use for the link
      linkText: The text to show in the link - default: "linkHref"
  */ -}}

  {{- $title := .Get "title" -}}
  {{- $linkHref := .Get "linkHref" -}}
  {{- $linkText := .Get "linkText" | default $linkHref -}}

<blockquote class="reference">
  <cite>{{ $title }}</cite>
  <div class="referenceLink">
    <a href="{{ $linkHref }}">{{ $linkText }}</a></div>
</blockquote>
